@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    height: 100%;
}

.fondo-trivia {
    min-height: 100vh;

    background-image: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("../imagenes/fondo-trivia.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    background-color: #0077b6;
    font-family: "Inter", sans-serif;
}

h1 {
    text-align: center;
}

.caja-principal h1 {
    color: white;
    background-color: #0096c7;
    width: 600px;
    border-radius: 12px;
    margin-top: 40px;
    border: 3px solid white;
    border-radius: 15px;
}

.titulo {
    height: 50px;
    line-height: 50px;
}

.caja-interna {
    width: 600px;
    background-color: #00b4d8;
    text-align: left;
    margin-bottom: 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-bottom: 20px;
}

.foto {
    width: 150px;
    float: right;
    margin: 12px;
    border: 3px solid blue;
    border-radius: 10px;


}

.fototrivia {
    width: 500px;
    float: middle;
    margin: 12px;
    border: 3px solid blue;
    border-radius: 10px;


}

.boton-jugar {

    color: cyan;
}

.contenido {
    width: 400px;
}

.subtitulo {
    color: white;
    margin-left: 16px;
    padding-top: 16px;
}

.texto {
    color: white;
    margin-left: 16px;
}

.header {
    color: white;
    background-color: #0096c7;
    width: 600px;
    border-radius: 12px;
    margin-top: 40px;
    border: 3px solid white;
    border-radius: 15px;
}

.main {
    color: white;
    margin-top: 20px;
}

.imagen-principal {
    width: 300px;
    margin-top: 20px;
}

.frase {
    margin-top: 20px;
    font-style: italic;
}

.links {
    margin-top: 15px;
}

.links a {
    display: block;
    color: rgb(178, 16, 16);
    text-decoration: none;
    margin: 5px;
}

.iconos img {
    width: 50px;
    margin: 10px;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    border: 1px solid black;
    padding: 8px;
    color: white;
}

.tabla th {
    background-color: #0096c7;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.respuestas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.respuestas a {
    text-decoration: none;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 8px;
}

.imagen-trivia {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

.nav {
    background-color: rgb(35, 38, 222);
    width: 100%;
    background: linear-gradient(to bottom, #2c2cff, #0077b6);
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;

    display: flex;
    gap: 10px;

    flex-wrap: nowrap;       
    justify-content: flex-start;
}

.nav li {
    margin: 0;
}

.nav a {
    background-color: rgb(49, 118, 198);
    padding: 8px 14px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    display: block;
    transition: 0.3s;
}


ul, ol {
    cursor: pointer;
    color: rgb(11, 35, 63);
    width: 300px;
    margin: 20px auto;
    text-align: left;
}


.footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #00b4d8;
    color: white;
}

.bloque {
    background-color: #0096c7;
    padding: 15px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 15px auto;
    width: 300px;
}

.contenedor {
    display: flex;
    margin-top: 20px;
}


.barralateral {
    width: 200px;
    background-color: #00b4d8;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    color: white;
}

.barralateral h3 {
    text-align: center;
}

.barralateral ul {
    list-style: none;
    padding: 0;
}

.barralateral li {
    margin-bottom: 10px;
}

.barralateral a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px;
    border-radius: 6px;
}


.mainplaylist {
    flex: 1;
    margin: 0 20px;
    background-color: #00b4d8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.activo {

    background-color: #0077b6;
    font-weight: bold;


}


iframe {
    margin-top: 20px;
    border-radius: 10px;
}